.top-bar a {
    color: red;
    text-decoration: none;
    transition: color 0.3s ease;       /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/transition*/
}

.top-bar a:hover {
    color: darkred;
}

body {
    background-color: black;
}

.main-lists {
    
}
.top-bar {
    align-items: center;                /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/align-items*/
    background-color: black;          /**/
    border-color: red;                /**/
    border-style: solid;                /**/
    column-gap: 0px;                    /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/column-gap*/
    display: flex;                      /**/
    flex-grow: 1;                       /**/
    flex-shrink: 1;                     /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/flex-shrink*/
    flex-wrap: nowrap;                  /**/
    left: 0;
    justify-content: space-between;     /**/
    position: fixed;
    right: 0;
    top: 01px;
}
