
body {
    background-color: black;
}

.top-bar {
    align-items: center; 
    background-color: rgb(0 80 0);
    border-color: rgb(170 50 220 / 0.6);
    border-style: solid;
    display: flex;
    justify-content: space-between;
}