a {
    color: limegreen;
    text-decoration: none;
    transition: color 0.3s ease;       /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/transition*/
}

a:hover {
    color: greenyellow;                  /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/color*/
}

body {
    background-color: black;
    color: white;
}

.index-html {
    align-items: center;                /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/align-items*/
    border-color: limegreen; /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/border-color*/
    border-style: solid; /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/border-style*/
    column-gap: 1%;
    display: flex; 
    flex-direction: column;                /*https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Flexible_box_layout/Basic_concepts*/
    gap: left; 0px right; 0; top; 0
    justify-content: space-evenly;
    place-items: center stretch;        /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/place-items*/
}

.intro-presentation {
    color: white;                     /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/color*/
}

.list-analyse {
    align-items: center;                /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/align-items*/
    border-color: limegreen; /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/border-color*/
    border-style: solid; /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/border-style*/
    column-gap: 1%;
    display: flex; 
    flex-direction: column;                /*https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Flexible_box_layout/Basic_concepts*/
    gap: left; 0px right; 0; top; 0
    justify-content: space-evenly;
    place-items: center stretch;        /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/place-items*/
}

.main-lists {
    align-items: center; /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/align-items*/
    column-gap: 0px;
    display: flex; 
    flex-direction: row; /*https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Flexible_box_layout/Basic_concepts*/
    justify-content: space-evenly;
    place-items: center stretch; /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/place-items*/
    
}

.top-bar {                              
    align-items: center; /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/align-items*/
    background-color: black; /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/background-color*/
    border-color: limegreen; /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/border-color*/
    border-style: solid; /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/border-style*/
    column-gap: 0px; /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/column-gap*/
    display: flex; /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/*/
    flex-grow: 1; /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/*/
    flex-shrink: 1; /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/flex-shrink*/
    flex-wrap: nowrap; /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/*/
    justify-content: space-evenly; /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/justify-content*/
    position: sticky; left: 0; right: 0; top: 01px;
}
