a {
    color: darkred;
    text-decoration: none;
}

body {
    background-color: black;
}



.contact {
    border-color: darkred;
    border-style: solid;
}

.recent {
    border-color: darkred;
    border-style: solid;
}

.region {
    border-color: darkred;
    border-style: solid;
}

.title {
    border-color: darkred;
    border-style: solid;
}

.top-bar {
    align-items: center;                /**/
    background-color: rgb(0, 0, 0);   /**/
    border-color: darkred;            /**/
    border-style: solid;                /**/
    display: flex;                      /**/
    flex-grow: 1;                       /**/
    flex-wrap: nowrap;                  /**/
    justify-content: space-between;     /**/
}