a {
    text-decoration: none;
}

body {
    background-color: black;
}

.top-bar {
    align-items: center; 
    background-color: rgb(0, 0, 0);
    border-color: purple;
    border-style: solid;
    display: flex;
    justify-content: space-between;
}