a .top-bar {
    color: darkred;
    text-decoration: none;
}

body {
    background-color: black;
}

.top-bar {
    align-items: center;                /**/
    background-color: rgb(0, 0, 0);   /**/
    border-color: darkred;            /**/
    border-style: solid;                /**/
    column-gap: 0px;                    /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/column-gap*/
    display: flex;                      /**/
    flex-grow: 1;                       /**/
    flex-shrink: 1;                     /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/flex-shrink*/
    flex-wrap: nowrap;                  /**/
    left: 0;
    justify-content: space-between;     /**/
    position: fixed;
    top: 0;
    width: 100%;
}